DATABASE_URL="postgresql://void_user:void_pass@localhost:5432/voidprotocol"
ACCESS_TOKEN_SECRET="change_me_access_secret_minimum_32_chars"
REFRESH_TOKEN_SECRET="change_me_refresh_secret_minimum_32_chars"
PORT=4000
CLIENT_ORIGIN="http://localhost:3000"
NODE_ENV="development"
